@tailwind base;
@tailwind components;
@tailwind utilities;


/** Define @layer for details summary and marker */
@layer components {
  details summary::-webkit-details-marker {
    display: none;
  }
} 

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2s;
}
.swiper-slide {
  transition-timing-function: linear;
}


.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(3, 21, 126, 0.082) 0%,
    rgba(66, 155, 118, 0) 100%
  );
}
